[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
tqdm = "*"
python-dateutil = "*"
fastf1 = "*"
jupyter-bokeh = "*"
numpy = "*"
panel = "*"
hvplot = "*"
holoviews = "*"

[dev-packages]

[requires]
python_version = "3.12"
